<p appHightlight [color]="'grey'" [color2]="'yellow'"> signin works!!</p>

<p>firstletter is: {{'signin works! '| firstLetter }}</p>

<p> using pipe map/tap {{readSample}}</p>

<p> using only subscription {{readSample2}}</p>
<p> using only return {{readSample3 | async}}</p>

<p> using only async {{ sampleService.sampleObservable$ | async}}</p> 
<p> using without async {{sampleService.sampleObservable$ }}</p>

<p>subject read: {{sampleService.sampleSubject$|async }}</p>
<p>behavioursubject read: {{sampleService.sampleBehaviourSubject$|async }}</p>


<button (click)="sampleService.setSubject('niranjan')" >b1</button>
<button (click)="sampleService.setSubject('niranjan2')" >b2</button>
<button (click)="sampleService.setSubject('niranjan3')" >b3</button>