<!-- <app-reactiveforms></app-reactiveforms><br><br> -->

<!-- <app-autocomplete></app-autocomplete> -->

<!-- <app-reactiveformbuilder></app-reactiveformbuilder> -->

<!-- <app-login></app-login>
<app-signin></app-signin> -->

<!-- <router-outlet></router-outlet> -->
<!-- {{outputDisplay}} -->
<app-leftnav [value]='value' (outputValue)="receiveData($event)" ></app-leftnav>

<!-- <h1>{{nira}}</h1>
<span>{{sampleService.sampleNumber}}</span>
<input type="text">
<button type="submit" (click)="btn()"> submit </button> -->
